*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

bin/
catalog/
target/
src/main/api/.repository
.classpath
.settings

# maven backup file
pom.xml.releaseBackup
derby.log